{% extends 'base.html.twig' %}
{% form_theme frmSociete 'bootstrap_4_layout.html.twig' %}
{% block body %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">Societes</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	  <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Créer une société</button>
	  </div>
	</div>
  </div>
{#  <div id="frmAjoutEvent" style="display:none;">
  
  
	{{ form_start(frmSociete)}}
	{{ form_widget(frmSociete)}}
	<button type="submit" class="btn btn-primary">Créer</button>
	{{ form_end(frmSociete)}}  
  
  </div>#}
<div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Nom/Raison sociale</th>
                  <th>Date d'immatriculation</th>
                  <th>SIREN</th>
                  <th>Ville d'immatriculation</th>
                  <th>Capital</th>
                </tr>
              </thead>
              <tbody>
			  {% for societe in societes %}
                <tr>
                  <td>
                    <a href="{{path('societe_detail', {id : societe.id})}}"><span data-feather="edit"></span></a>
                    <!-- Formulaire de suppression d'une société à réactiver après correction des contraintes en BD
                    <form method="post" id="deleteFrm" action="{{ path('societe_delete', {'id': societe.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette société?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ societe.id) }}">
                        <span data-feather="trash" id="deleteBtn"></span>
                    </form>
                    -->
                  </td>
                  <td>{{societe.id}}</td>
                  <td>{{societe.nom}}</td>
                  <td>{{societe.dateImmat|date('d/m/Y h:m:s')}}</td>
                  <td>{{societe.siren}}</td>
                  <td>{{societe.villeImmat}}</td>
                  <td>{{societe.capital}}</td>
                </tr>
			   {% endfor %}
              </tbody>
            </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer une société</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{ form_start(frmSociete)}}
      <div class="modal-body">
            {{ form_widget(frmSociete)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" id="btnCreer">Créer</button>
      </div>
    {{ form_end(frmSociete)}}  
    </div>
  </div>
</div>

{% endblock %}
