{% extends 'base.html.twig' %}

{% block body %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">Historique de la société <span style="color:#007bff">{{societe.nom}}</span> jusqu'au {{dateHisto|date('d/m/Y à h:m:s')}}</h1>
  </div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Date de la modification</th>
            <th>Nom/Raison sociale</th>
            <th>Adresse</th>
            <th>Forme juridique</th>
            <th>Capital</th>
        </tr>
        </thead>
        <tbody>
        {% for histo in listeHisto %}
        <tr>
            <td>{{histo.date|date('d/m/Y h:m:s')}}</td>
            <td>{{histo.nom}}</td>
            <td>{{histo.numero}} {{histo.type_voie}} {{histo.nom_voie}} {{histo.ville}} {{histo.cp}}</td>
            <td>{{histo.libelle}}</td>
            <td>{{histo.capital}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
